@model IEnumerable<A.Datos.Models.MaritalStatus>

@{
    ViewBag.Title = "Estados Civiles";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Inicio</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Estados Civiles</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Estados Civiles</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaritalStatustName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatustName)
        </td>
        <td>
			@*@Html.ActionLink("Details", "Details", new { id=item.MaritalStatusId }, new { @class = "btn btn-primary btn-sm"})*@
            @Html.ActionLink("Editar", "Edit", new { id=item.MaritalStatusId }, new { @class = "btn btn-white btn-sm"})
            @Html.ActionLink("Borrar", "Delete", new { id=item.MaritalStatusId }, new { @class = "btn btn-white btn-sm"})
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



